* {
  margin: 0;
  padding: 0;
  font-family: "Bangers", Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

canvas {
  background-color: grey;
}

h1 {
  font-size: 64px;
  color: rgb(235, 238, 244);
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
  letter-spacing: 3px;
}

/* bangers-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Bangers";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bangers/bangers-v21-latin-regular.woff2") format("woff2"), url("../fonts/bangers/bangers-v21-latin-regular.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
}
.background-img {
  height: 100dvh;
  width: 100dvw;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.7;
  filter: blur(4px);
}

.game {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.game-title {
  position: relative;
  margin-bottom: 25px;
}
.game-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 720px;
  height: 480px;
}
.game-canvas-frame {
  display: block;
}
.game-canvas-canvas {
  display: block;
  z-index: 1;
  position: absolute;
  transform: translate(12px, 23px);
}

.canvas_w-h {
  width: 910px;
  height: 760px;
}

@media (max-width: 920px) {
  .game-title {
    margin-bottom: 12px;
  }
  .game-canvas-frame {
    display: none;
  }
  .game-canvas-canvas {
    transform: translate(0px, 0px);
  }
}
.d-none {
  display: none;
}

.opacity-0 {
  opacity: 0;
}